/* Main classes*/
*{
    font-family: Roboto, Arial, sans-serif !important;
    box-sizing: border-box !important;
    color: black ;
}
/***********JAVASCRİPT'TE Kullanılan classlar ************/
.dark {
    background: black;
    opacity: 0.5;
}
.light {
    background: #dddddd;
}
.darkOver {
    color: #fff;
    z-index: 20;
}

/********************************************/
body {
    background: #dddddd;
}
header #header1 .container {
    width: 1264px !important;
}
header #header2 .container {
    width: 1279px !important;
}
header #header3 .container {
    width: 1279px !important;
}
section .container {
    width: 1248px !important;
}
ul li {
    list-style-type: none !important;
}
a {
    text-decoration: none !important;
    color: #333333 !important;
}
span {
    display: block !important;
}


/*************** Header ****************/
/*üst-header*/
#main-header { 
    background: #fff;
    position: relative;
}
#main-header #list1cont {
    height: 43px;
}
#main-header #list1cont #list1 {
    height: 43px;
    margin-left: 278px;
}
#header1 ul li {
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(51, 51, 51);
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.72em;
    font-weight: normal;
    opacity: 0.9;
}
#header1 ul li:hover {
    border-radius: 30px;
    background: rgb(236, 234, 234);
}
/*Orta-header*/
#header2 #image {
    width: 263px; 
    height: 70px; 
    padding: 0px 8px;
}
#header2 #image img {
    padding: 0px 8px;
}
#header2 #search {
    width: 737px; 
    height: 70px; 
    padding: 0px 8px;
}
#header2 .input-group-text {
    background: #fff; 
    border: none;
}
#inputs {
    border: 2px solid rgb(54, 101, 243);
    border-radius: 0.375em 0px 0px 0.375em;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 3.125em;
    line-height: 2em;
}
#inputs:focus-within {
    border: none !important;
}
#header2 #inputs input {
    border: none !important;
}
#header2 #searchBtn1 {
    border: none !important;
    margin-right: 0.62em;
    border-radius: 0px 0.375em 0.375em 0px;
    padding: 1.12em 0.75em;
    width: 6.87em;
    height: 3.12em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border: none;
    background-color: rgb(54, 101, 243);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.15;
    width: 128px;
}
#header2 #searchBtn1:hover {
    background: blue;
}

/***********LOGİNS & BASKETS***********/
#header2 #login-basket {
    padding: 0px 8px; 
    width: 263px; 
    height: 70px;
}
/*icons*/
#header2 #login-basket i {
    color:  rgb(54, 101, 243);
    font-size: 24px;
}
/*login*/
#header2 #login {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
    width: 133px; 
    height: 37px;
}
#header2 #login #span1 {
    display: block;
    padding-left: 5px;
    color: rgb(51, 51, 51);
}
#header2 #login #span2 {
    display: block;
    padding-left: 5px;
    font-size: 9.4px;
}
#header2 #login #giris {
    padding-left: 5px;
}
/*basket*/
#header2 #login-basket #basket {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
    width: 98px; 
    height: 35px;
}
#header2 #login-basket #basket span {
    display: inline-block;
    padding-left: 5px;
    color: rgb(51, 51, 51);
}
#header2 #login-basket #sep {
    padding-left: 5px;
}
/****Alt-Header*****/
#header3 {
    background-color: rgb(244, 244, 244);
    height: 56px; 
    margin-top: 15px;
}
#header3 #malzeme {
    height: 56px; 
    cursor: pointer;
}
#header3 #malzeme .mega {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none;
    padding: 0px 35px;
    color: rgb(85, 85, 85);
}

#header3 #malzeme #elk:hover,
                  #ev:hover,
                  #moda:hover,
                  #kozmetik:hover,
                  #anne:hover,
                  #market:hover,
                  #kitap:hover,
                  #oto:hover,
                  #spor:hover {
    border-bottom: 3px solid rgb(54, 101, 243);
}
.spancolor {
    color: #555555;
}
#header3 #malzeme #elk:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #ev:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #moda:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #kozmetik:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #anne:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #market:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #kitap:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #oto:hover span {
    color: rgb(54, 101, 243) !important;
}
#header3 #malzeme #spor:hover span {
    color: rgb(54, 101, 243) !important;
}


#header3 #malzeme h1:hover {
    color: rgb(54, 101, 243) !important;
}



/***************** MEGA CONTAİNER************/
#header3 #megacontainer {
	display: none;
	position: absolute;
	background: #fff !important;
	width: 100%;
    height: 505px !important;
	top: 100%;
    left: 320px;
	z-index: 1;
    padding: 20px 50px 30px 50px;
    opacity: none !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#header3 #elk:hover #megacontainer {
	display: block;
}
#header3 #megacontainer a:hover{
    text-decoration: underline !important;
}
#header3 #megacontainer #spanbaslik a {
    font-weight: bold !important;
    font-size: 17px !important;
}
#header3 #megacontainer #spanbaslik a:hover{
    color: blue !important;
    text-decoration: underline !important;
}
#header3 #megacontainer #elektrik {
    margin-top: 20px;
}
#header3 #megacontainer #elektrik a {
    color: black;
    font-size: 12px;
    opacity: 0.8;
}
#header3 #megacontainer a #mobile {
    color: blue;
    font-size: 24px;
    background: rgba(64, 64, 180, 0.1);
    border-radius: 100%;
}
#header3 #megacontainer a #right {
    color: blue;
    margin-left: 10px;
}
#header3 #megacontainer #seeAll{
    color: blue !important;
}
#header3 #megacontainer #seeAll a {
    color: blue !important;   
}

/***********SECTİON BÖLÜMÜ**********/

/* BODY-HERO-GENEL*/
#hero {
    height: 100%;
    border-top: 1px solid rgb(209, 207, 207);  
    padding:16px 0px;
    background: #eeeeee;
    position: relative;
}
#hero #heromaincont {
    padding: 0px 8px !important;
}

#hero #mozbey img {
    border-radius: 6px;
}

/*SLIDER BÖLÜMÜ*/
#hero .littleimage {
    width: 65px; 
    height: 81px;
}
#hero .bigimage {
    padding: 0;    
}
#hero .bigimage img {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
#hero #kucukresimler {
    height: 95px; 
    padding:14px 24px 16px 24px; 
    background: #fff;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
#hero .container #kucukresimler div:hover{
    border-bottom: 3px solid rgb(54, 101, 243);
    border-radius: 2px;
}
/*TÜMÜNÜ KEŞFET BÖLÜMÜ*/
#hero #tumunukesfet .one {
    height: 79px; 
    background: #fff; 
    padding: 25px 24px 25px 24px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
#hero #tumunukesfet #kesif {
    color: #333; 
    font-size: 24px;
}
#hero #tumunukesfet #kesfet a {
    color: #3665f3 !important; 
    font-size: 14px !important; 
    font-weight: bold;
}
#hero #tumunukesfet #kesfet i {
    font-size: 14px; 
    font-weight: bold; 
    color: #3665f3;
}

#hero #tumunukesfet .two {
    height: 406px; 
    padding: 0px 24px 24px; 
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#hero #tumunukesfet #kesifresim img {
    width: 280px;
    height: 376px;
    cursor: pointer;
}

/*Yıldız fırsatlar bölümü*/
#yildizfirsatlar {
    border-radius: 6px;
}
#yildizfirsatlar #yildizinfo {
    height: 79px; 
    background: #fff; 
    padding: 25px 20px 25px 25px;
    border-radius: 6px;
}
#yildizfirsatlar #yildizinfo #firsat {
    color: #333; 
    font-size: 24px;
}
#yildizfirsatlar #firsat2 a {
    color: #3665f3 !important; 
    font-size: 14px !important; 
    font-weight: bold;
}
#yildizfirsatlar #firsat2 i {
    font-size: 14px; 
    color: #3665f3; 
    font-weight: bold;
}
#yildizfirsatlar .col-12 {
    height: 490px; 
    margin-top: -10px; 
    padding: 10px 25px 0px 25px; 
    background: #fff;
    border-radius: 6px;
}
#yildizfirsatlar #mainurunler {
    padding: 0px 10px;
}


#yildizfirsatlar #mainurunler .urunler{
    padding: 8px; 
    height: 465px; 
    width: 222px; 
    border: 1px solid rgb(233, 222, 222) !important; 
    border-radius: 4px; 
    cursor: pointer;
} 

#yildizfirsatlar #mainurunler .urunler:hover{
    border: 1px solid white !important;
    box-shadow: 0px 2px 8px 6px rgb(212, 210, 210) !important;
    transition-delay: 0.05s;    
}


#yildizfirsatlar .urunler #urunimage {
    height: 204px;
}
#yildizfirsatlar .urunler #urunisimleri {
    height: 80px; 
    padding: 16px 12px 8px; 
    font-size: 14px; 
    margin: 0px 0px 3.5px;
}
#yildizfirsatlar .urunler #urunfiyatlari {
    background: #f4f4f4; 
    margin: 0px 0px 12px; 
    padding: 12px; 
    color: #3333; 
    font-size: 24px;
}
#yildizfirsatlar .urunler #puan {
    height: 56px; 
    font-size: 10px; 
    padding: 0px 12px; 
    color: #767676;
}
#yildizfirsatlar .urunler #urunBtn {
    height: 100% !important;
}
#hero .urunler .btn {
    display: none;
}

#hero .urunler:hover .btn{
    display: block;
}
#hero .urunler #puan {
    display: block;
}
#hero .urunler:hover #puan{
    display: none !important;
}
/******ÖNE ÇIKAN MARKALAR BÖLÜMÜ******/
#onecikanmarkalar {
    height: 442px; 
    background: #fff;
    padding-top: 24px; 
    padding-bottom: 20px;
    border-radius: 6px;
}
#onecikanmarkalar #onecikan {
    height: 382px;
}
#onecikanmarkalar #onecikancon {
    margin: 0px 24px 16px 24px;
}
#onecikanmarkalar #onecikanisim {
    color: #333; 
    font-size: 24px; 
    line-height: normal;
}
#onecikanmarkalar #onecikankesfet a {
    color: #3665f3 !important; 
    font-size: 14px !important; 
    font-weight: bold;
}
#onecikanmarkalar #onecikankesfet i {
    font-weight: bold; 
    font-size: 14px; 
    color: #3665f3;
}
#onecikanmarkalar #onecikan2 {
    height: 280px;
}
#onecikanmarkalar #onecikan2 .col {
    width: 389px;
    
}
#onecikanmarkalar #onecikan3 {
    height: 66px;
}
#onecikanmarkalar #onecikan3  img {
    width: 66px;
    height: 66px;
}
#onecikanmarkalar #onecikan3 .onecikans {
    height: 66px; 
    margin-right: 20px;
}
#onecikanmarkalar #onecikan3 .onecikans2{
    font-size: 16px; 
    height: 66px;
}

/*********Sizin için seçtiklerimiz BÖLÜMÜ*******/
#sizinicinCon {
    background: #fff;
    height: 596px;
    padding: 0px;
    border-radius: 6px !important;
}
#sizinicinCon #sizinicinRow1 {
    height: 79px;
    padding: 25px 20px 25px 30px;
    font-size: 24px;
    margin: 0px;
    color: #333333;
}
#sizinicinCon #sizinicinRow2{
    margin: 0px;
}
#sizinicinCon #sizinicinUL {
    height: 496px; 
    width: 210px; 
    padding-top: 10px;
}
#sizinicinCon #sizinicinUL li{
    display: inline-block;
    line-height: 50px;
    padding: 0px 1em;
    vertical-align: middle;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#sizinicinCon #sizinicinUL li:hover {
    border-left: 3px solid blue !important;
    border-radius: 4px !important;
    font-size: 14px;
    color: #2b50c2 !important;
    background: rgb(184, 184, 248);
    font-size: medium;
}
#sizinicinCon #secilenler {
    height: 506px; 
    width: 1038px;
}
#sizinicinCon #secilenMarka {
    margin-left: 32px; 
    padding: 10px 16px 8px 0px;
}

#sizinicinCon #secilenler .urunler {
    padding: 8px; 
    height: 465px; 
    width: 222px; 
    border: 1px solid rgb(233, 222, 222) !important; 
    border-radius: 4px;
    cursor: pointer;
}
#sizinicinCon #secilenler .urunler:hover {
    border:  1px solid white !important;
    box-shadow: 0px 2px 8px 6px rgb(212, 210, 210) !important;
}
#sizinicinCon #secilenler #sizinresim {
    height: 206px; 
}
#sizinicinCon #secilenler #aciklama {
    height: 80px; 
    padding: 16px 12px 8px 12px; 
    font-size: 14px; 
    margin: 0px 0px 3.5px;
}
#sizinicinCon #secilenler #fiyat {
    height: 53px; 
    background: #f4f4f4; 
    margin: 0px 0px 12px; 
    padding: 12px; 
    color: #3333; 
    font-size: 24px;
}
#sizinicinCon #secilenler #puan {
    height: 56px; 
    font-size: 10px; 
    padding: 0px 12px; 
    color: #767676;
}
#sizinicinCon #secilenler #puan i {
    font-size: 12px; 
    color: green;
}
#sizinicinCon #secilenler #puan span{
    opacity: 0.9; 
    padding-left: 6px; 
    padding-top: 2px;
}
#sizinicinCon #secilenler #sizinicinBtn {
    height: 100%;
}


/********Kazananlar-kulübü alanı*********/
#kazananlarKulubu {
    padding: 0;
}
#kazananlarKulubu img {
    border-radius: 6px;
    cursor: pointer;
}

/*******Aradığınız ne varsa bölümü*******/
#araNeVarsa {
    background: #fff;
    padding: 24px 0px 20px 0px;
    border-radius: 6px;
}
#araNeVarsa #ara1 {
    margin: 0px 24px 16px 24px;
    height: 42px;
}
#araNeVarsa #ara1 h2 {
    font-size: 24px;
    color: #333333;
}
#araNeVarsa #ara2 #resim {
    width: 390px;
    height: 260px;
}
#araNeVarsa #ara2 #aciklama {
    margin-top: 12px;
    font-size: 16px;
    color: #333333;
}
#araNeVarsa #ara2 #etiket {
    margin: 3px 0px 0px;
    font-size: 12px;
    color: #767676;
}
/*******Haftanın çok satanları bölümü*******/
#cokSatanlar {
    background: #fff;
    padding: 0px;
    border-radius: 6px;
}
#cokSatanlar #coksatan1 {
    height: 78px;
    padding: 25px 20px 25px 30px;
    border-bottom: 1px solid grey;
}
#cokSatanlar #coksatan1 h2 {
    font-size: 24px;
    color: #333333;
}
#cokSatanlar #coksatan1 a {
    font-size: 14px;
    color: #3365f3 !important;
    font-weight: bold;
}
#cokSatanlar #coksatan1 i {
    color: blue;
}
#cokSatanlar #coksatan2 {
    height: 555px;
    margin-top: -10px;
    padding: 10px 14px 0px 14px;
}
#cokSatanlar #coksatan2 #urunContainer {
    height: 535px;
    width: 222px;
    padding-bottom: 20px !important;
}
#cokSatanlar #coksatan2 #urunisim {
    width: 222px;
    height: 44px;
    padding: 15px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

#cokSatanlar #coksatan2 #urunisim a {
    color: #3665f3 !important;
    font-size: 14px;
    
}

#cokSatanlar #coksatan2 #altcont {
    border: 1px solid rgb(233, 229, 229) !important;
    width: 222px ;
    height: 453px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
#cokSatanlar #altcont:hover{
    border: none !important;
    box-shadow: 0px 2px 8px 6px rgb(212, 210, 210) !important;
}

#cokSatanlar #coksatan2 #coksatanresim {
    width: 204px;
    height: 204px;
}

#cokSatanlar #coksatan2 #satanaciklama {
    padding: 16px 12px 8px;
    font-size: 14px;
    color: #333333;
}
#cokSatanlar #coksatan2 #satanfiyat {
    background: #f4f4f4;
    margin: 0px 0px 12px;
    padding: 12px;
    height: 53px;
    border-radius: 4px;
    font-size: 24px;
}
#cokSatanlar #coksatan2 #satanpuan {
    height: 56px;
}
#cokSatanlar #coksatan2 #satanpuan i {
    font-size: 12px; 
    color: green;
}
#cokSatanlar #coksatan2 #satanpuan span {
    font-size: 11px;
    color: #767676;
    opacity: 0.9;
    padding-left: 5px;
}
#cokSatanlar #altcont .btn {
    display: none;
}

#cokSatanlar #altcont:hover .btn{
    display: block;
}
#cokSatanlar #altcont #satanpuan {
    display: block;
}
#cokSatanlar #altcont:hover #satanpuan{
    display: none !important;
}

/****Girişimciler Bölümü****/
#girisimciler {
    background: #fff; 
    height: 340px; 
    border-radius: 6px; 
    padding: 0px;
}
#girisimciler #girisimcontainer {
    height: 296px; 
    padding: 24px 24px 20px 20px;
}
#girisimciler #isimler {
    height: 296px; 
    cursor: pointer;
}
#girisimciler #resm {
    width: 390px; 
    height: 260px;
}
#girisimciler #info {
    margin: 12px 0px 0px; 
    font-size: 16px; 
    color: #333333;
}

/*POPÜLER KATEGORİLER BÖLÜMÜ*/
#populer {
    background: #fff; 
    height: 330px; 
    border-radius: 6px; 
    padding: 0px;
}
#populer #popyazi {
    height: 68px; 
    padding: 24px 0px 16px 20px; 
    font-size: 24px; 
    color: #333333; 
    font-weight: bold;
}
#populer #popcontainer {
    height: 262px;
    padding: 0px 10px 24px 10px;
}
#populer #popcontainer #popitems {
    height: 228px; 
    padding: 0px 13px; 
    cursor: pointer;
}
#populer #popcontainer #popresim {
    width: 177px; 
    height: 177px;
}
#populer #popcontainer #popinfo {
    height: 34px; 
    margin:16px 0px 0px; 
    color: #333333; 
    font-size: 15px;
}
#populer #popcontainer #popinfo:hover {
    color: #3365f3;    
}

/*****İLGİLİ ÜRÜNLER BÖLÜMÜ******/
#ilgiliurunler {
    height: 2663px; 
    background: #fff; 
    border-radius: 6px;
    padding-left: 0px !important;
}
#ilgiliurunler #ilgicontainer {
    padding: 0px 20px;
}
#ilgiliurunler #ilgiyazi {
    padding: 25px 20px 25px 10px; 
    font-size: 24px; 
    color: #333333;
}
#ilgiliurunler #ilgcon {
    height: 571px; 
    padding: 0px 10px 20px 10px;
}
/**/
#ilgiliurunler #sira2 #ilgcon {
    height: 503px !important;
}
#ilgiliurunler #sira3 #ilgcon {
    height: 503px !important;
}
#ilgiliurunler #sira4 #ilgcon {
    height: 503px !important;
}
#ilgiliurunler #sira5 #ilgcon {
    height: 503px !important;
}
#ilgiliurunler #ilgcon:hover #ilgipuan {
    display: none !important;
}
/***/

#ilgiliurunler #ilgiitems {
    padding: 8px;
    height: 551px; 
    width: 282px; 
    border: 1px solid rgb(240, 233, 233); 
    border-radius: 4px; 
    cursor: pointer;
}
#ilgiliurunler #ilgiitems:hover{
    border:  1px solid white !important;
    box-shadow: 0px 2px 8px 6px rgb(212, 210, 210) !important;
}

/**/
#ilgiliurunler #sira2 #ilgiitems {
    height: 483px !important;
}
#ilgiliurunler #sira3 #ilgiitems {
    height: 483px !important;
}
#ilgiliurunler #sira4 #ilgiitems {
    height: 483px !important;
}
#ilgiliurunler #sira5 #ilgiitems {
    height: 483px !important;
}
/***/
#ilgiliurunler #ilgiresim {
    width: 264px; 
    height: 264px;
}
#ilgiliurunler #ilgiaciklama {
    height: 80px !important; 
    padding: 16px 12px 8px; 
    margin: 0px 0px 3.5px;
    font-size: 13px; 
    color: #333333;
}
#ilgiliurunler #ilgifiyat {
    height: 53px; 
    background: #f4f4f4; 
    margin: 0px 0px 12px; 
    padding: 12px; 
    font-size: 24px; 
    color: #333333; 
    font-weight: bold; 
    border-radius: 6px;
} 
#ilgiliurunler #ilgipuan {
    padding: 0px 12px; 
    height: 56px;
}

#ilgiliurunler .btn {
    display: none;
}
#ilgiliurunler #sira1 .btn {
    margin-top: 85px;
}
#ilgiliurunler #sira2 .btn {
    margin-top: 16px ;
}
#ilgiliurunler #sira3 .btn {
    margin-top: 16px ;
}
#ilgiliurunler #sira4 .btn {
    margin-top: 16px ;
}
#ilgiliurunler #sira5 .btn {
    margin-top: 16px ;
}
#ilgiliurunler #ilgiitems:hover .btn{
    display: block;
}
#ilgiliurunler #ilgiitems #ilgipuan {
    display: block;
}
#ilgiliurunler #ilgiitems:hover #ilgipuan{
    display: none ;
}

/*****************FOOTER BÖLÜMÜ***************/
#footer {
    height: 1010px;
    padding: 50px 0px 30px 0px;
    background: #fff;
}
#mainfooter {
    width: 1263px;
    height: 929px;
    margin: 0 auto !important;
}
#footer .footerinfo {
    width: 932px;
    height: 332px;
    padding: 0px 8px;
}
#footer .h3 {
    font-size: 24px;
    color: #333333;
    padding: 0px 0px 26.88px;
}
#footer .paragraf {
    font-size: 0.75em;
    font-weight: normal;
    color: rgb(51, 51, 51);
    margin: 0px 0px 15px;
    padding: 7.44px 22.44px 0px 0px;
    width: 930px;
    height: 260px;
    line-height: 1.8em;
    border-right: 1px solid rgb(240, 234, 234);
}
#footer .footerimg {
    width: 307px;
    height: 332px;
    padding: 0px 8px;
}
#footer .footerresim {
    width: 166px;
    height: 280px;
    padding: 0px 8px;
}
#footer .en {
    width: 134.5px;
    height: 134.5px;
    margin: 56px 0px 0px;
}
#footer .sup {
    width: 134.5px;
    height: 236px;
    margin: 40px 0px 0px;
}
#footer .row {
    padding: 35px 8px 0px 8px !important;
}
#footer .col {
    padding: 0px 8px;
}
#footer .col h3 {
    font-size: 24px;
    padding: 0px 0px 18px;
    margin: 0px;
}
#footer .col-6 h4 {
    font-size: 24px;
    padding: 0px 0px 18px;
    margin: 0px;
}
#footer .col ul {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
#footer .col ul li {
    font-size: 0.75em;
    padding: 0px 0px 5px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    font-weight: normal;
}
#footer .col ul li:hover {
    text-decoration: underline;
    color: #3365f3;
}
#footer #social {
    padding: 0px;
}
#footer #bizitakip {
    width: 200px; 
    height: 50px; 
    padding: 0px 8px; 
    font-size: 24px; 
    color: #333333;
}
#footer #socialmedia {
    width: 486px; 
    height: 50px; 
    padding: 0px 8px; 
    font-size: 24px; 
    color: #333333;
}
#footer #socialmedia i {
    padding: 0px 8px;
    cursor: pointer;
}

#footer #mobileuygulama {
    width: 579px; 
    height: 50px; 
    padding: 0px 8px;
}
#footer #mobileuygulama h3 {
    font-size: 24px; 
    color: #333333;
}
#footer .mobileapp {
    width: 141px; 
    height: 48px; 
    cursor: pointer;
}
#footer #mobileuygulama i {
    padding: 0px 4px;
}
#footer #hr {
    padding: 0px 8px;
}
#footer #guven {
    height: 50px; 
    padding: 0px 8px;
}
#footer #guven #guvendamgasi {
    width: 156px; 
    height: 50px;
}
#footer #guven #damgaicon {
    padding-left: 8px; 
    cursor: pointer;
}
#footer #guven span {
    font-size: 16px; 
    color: #333333;
    width: 63px; 
    height: 36px; 
    font-weight: bold;
}
#footer #guven #bildirim {
    padding: 0px 8px 0px 26px; 
    height: 50px; 
    font-size: 12px; 
    color: #333333;
}
#footer #copysol {
    padding: 0px 8px; 
    width: 632px; 
    height: 16px;
}
#footer #copysol #sol1 {
    padding: 0px 4px;
}
#footer #copysol #sol1 span {
    font-size: 12px;
}
#footer #copysol #sol2 {
    padding: 0px 4px; 
    border-right: 1px solid #767676;
}
#footer #copysol #sol2 a {
    font-size: 12px; 
    color: #3665f3 !important; 
}
#footer #copysol #sol3 {
    padding: 0px 4px; 
    border-right: 1px solid #767676;
}
#footer #copysol #sol3 a {
    font-size: 12px; 
    color: #3665f3 !important; 
}
#footer #copysol #sol4 {
    padding: 0px 4px; 
}
#footer #copysol #sol4 a {
    font-size: 12px; 
    color: #3665f3 !important; 
}
#footer #copysag {
    padding: 0px 8px; 
    height: 32px; 
    width: 632px; 
    margin: -16px 0px 0px;
}
#footer #copysag #ebay {
    height: 12px; 
    width: 65.47px;
    margin: 18px 0px 0px; 
    font-size: 12px; 
    color: #333333;
}
#footer #copysag #dropcont {
    width: 205px; 
    height: 32px; 
    padding: 0px 8px;
}