/* Main classes*/
*{
    font-family: Roboto, Arial, sans-serif !important;
    box-sizing: border-box !important;
    color: black ;
}
/***********JAVASCRİPT'TE Kullanılan classlar ************/
.dark {
    background: black;
    opacity: 0.5;
}
.light {
    background: #dddddd;
}
.darkOver {
    color: #fff;
    z-index: 20;
}

/********************************************/
body {
    background: #dddddd;
}
header #header1 .container {
    width: 1264px !important;
}
header #header2 .container {
    width: 1279px !important;
}
header #header3 .container {
    width: 1279px !important;
}
section .container {
    width: 1248px !important;
}
ul li {
    list-style-type: none !important;
}
a {
    text-decoration: none !important;
    color: #333333 !important;
}
span {
    display: block !important;
}


/*************** Header ****************/
/*üst-header*/
#main-header { 
    background: #fff;
}
#header1 ul li {
    margin-left: 12px;
    margin-right: 12px;
    color: rgb(51, 51, 51);
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.72em;
    font-weight: normal;
    opacity: 0.9;
}
#header1 ul li:hover {
    border-radius: 30px;
    background: rgb(236, 234, 234);
    padding: 0 5px;
}
/*Orta-header*/
#inputs {
    border: 2px solid rgb(54, 101, 243);
    border-radius: 0.375em 0px 0px 0.375em;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 3.125em;
    line-height: 2em;
}
#inputs:focus-within {
    border: none !important;
}
#header2 #inputs input {
    border: none !important;
}
#header2 #searchBtn1 {
    border: none !important;
    margin-right: 0.62em;
    border-radius: 0px 0.375em 0.375em 0px;
    padding: 1.12em 0.75em;
    width: 6.87em;
    height: 3.12em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border: none;
    background-color: rgb(54, 101, 243);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.15;
    width: 128px;
}
#header2 #searchBtn1:hover {
    background: blue;
}

/***********LOGİNS & BASKETS***********/
/*icons*/
#login-basket i {
    color:  rgb(54, 101, 243);
}
/*login*/
#login {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
}
#login #span1 {
    display: block;
    padding-left: 5px;
    color: rgb(51, 51, 51);
}
#login #span2 {
    display: block;
    padding-left: 5px;
    font-size: 9.4px;
}
/*basket*/
#basket {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
}
#basket span {
    display: inline-block;
    padding-left: 5px;
    color: rgb(51, 51, 51);
}
/****Alt-Header*****/
#header3 {
    background-color: rgb(244, 244, 244);
}

#header3 #malzeme h1 {
    text-align: center;
    align-items: center !important;
    font-size: 0.8em !important;
    font-weight: normal;
    line-height: 8px;
    text-decoration: none;
    padding: 0px 35px;
    color: rgb(85, 85, 85);
}

#header3 #malzeme #elk:hover,
                  #ev:hover,
                  #moda:hover,
                  #kozmetik:hover,
                  #anne:hover,
                  #market:hover,
                  #kitap:hover,
                  #oto:hover,
                  #spor:hover {
    color: rgb(54, 101, 243) !important;
    border-bottom: 3px solid rgb(54, 101, 243);
}



#header3 #malzeme h1:hover {
    color: rgb(54, 101, 243) !important;
}



/***************** MEGA CONTAİNER************/
#header3 #megacontainer {
	display: none;
	position: absolute;
	background: #fff !important;
	width: 100%;
    height: 505px !important;
	top: 184px;
    left: 234px;
	z-index: 1;
    padding: 20px 50px 30px 50px;
    opacity: none !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#header3 #elk:hover #megacontainer {
	display: block;
}
#header3 #megacontainer a:hover{
    text-decoration: underline !important;
}
#header3 #megacontainer #spanbaslik {
    font-weight: bold !important;
    font-size: 17px !important;
}
#header3 #megacontainer #spanbaslik a:hover{
    color: blue !important;
    text-decoration: underline !important;
}
#header3 #megacontainer #elektrik {
    margin-top: 20px;
}
#header3 #megacontainer #elektrik a {
    color: black;
    font-size: 0.7em;
    opacity: 0.8;
}
#header3 #megacontainer a #mobile {
    color: blue;
    font-size: 24px;
    background: rgba(64, 64, 180, 0.1);
    border-radius: 100%;
}
#header3 #megacontainer a #right {
    color: blue;
    margin-left: 10px;
}
#header3 #megacontainer #seeAll{
    color: blue !important;
}
#header3 #megacontainer #seeAll a {
    color: blue !important;   
}


/*************************************/
/***********SECTİON BÖLÜMÜ**********/

/* BODY-HERO-GENEL*/
#hero {
    height: 100%;
    border-top: 1px solid rgb(209, 207, 207);  
    padding:16px 0px;
    background: #eeeeee;
}

#hero #mozbey img {
    border-radius: 6px;
}

/*SLIDER BÖLÜMÜ*/
#hero .container #kucukresimler div:hover{
    border-bottom: 3px solid rgb(54, 101, 243);
    border-radius: 2px;
}

/*Yıldız fırsatlar bölümü*/
#hero .btn {
    display: none;
}
#hero #urunler:hover{
    border: none !important;
    box-shadow: 1px 1px 1px 1px rgb(121, 118, 118);
}
#hero #urunler:hover .btn{
    display: block;
}
#hero #urunler #puan {
    display: block;
}
#hero #urunler:hover #puan{
    display: none !important;
}

/*********Sizin için seçtiklerimiz BÖLÜMÜ*******/
#sizinicinCon {
    background: #fff;
    height: 596px;
    padding: 0px;
    border-radius: 6px !important;
}
#sizinicinCon #sizinicinRow1 {
    height: 79px;
    padding: 25px 20px 25px 30px;
    font-size: 24px;
    margin: 0px;
    color: #333333;
}
#sizinicinCon #sizinicinRow2{
    margin: 0px;
}
#sizinicinCon #sizinicinUL {
    height: 496px; 
    width: 210px; 
    padding-top: 10px;
}
#sizinicinCon #sizinicinUL li{
    display: inline-block;
    line-height: 50px;
    padding: 0px 1em;
    vertical-align: middle;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#sizinicinCon #sizinicinUL li:hover {
    border-left: 3px solid blue !important;
    border-radius: 4px !important;
    font-size: 14px;
    color: #2b50c2 !important;
    background: rgb(184, 184, 248);
    font-size: medium;
}
#sizinicinCon #secilenler {
    height: 506px; 
    width: 1038px;
}
#sizinicinCon #secilenMarka {
    margin-left: 32px; 
    padding: 10px 16px 8px 0px;
}

#sizinicinCon #secilenler #urunler {
    padding: 8px; 
    height: 465px; 
    width: 222px; 
    border: 1px solid rgb(233, 222, 222); 
    border-radius: 4px;
    cursor: pointer;
}
#sizinicinCon #secilenler #resim1,
                        #resim2,
                        #resim3,
                        #resim4 {
    height: 206px; 
    width: 206px;
}
#sizinicinCon #secilenler #aciklama {
    height: 80px; 
    padding: 16px 12px 8px 12px; 
    font-size: 14px; 
    margin: 0px 0px 3.5px;
}
#sizinicinCon #secilenler #fiyat {
    height: 53px; 
    background: #f4f4f4; 
    margin: 0px 0px 12px; 
    padding: 12px; 
    color: #3333; 
    font-size: 24px;
}
#sizinicinCon #secilenler #puan {
    height: 56px; 
    font-size: 10px; 
    padding: 0px 12px; 
    color: #767676;
}
#sizinicinCon #secilenler #puan i {
    font-size: 12px; 
    color: green;
}
#sizinicinCon #secilenler #puan span{
    opacity: 0.9; 
    padding-left: 6px; 
    padding-top: 2px;
}
#sizinicinCon #secilenler #sizinicinBtn {
    height: 100%;
}

/********Kazananlar-kulübü alanı*********/
#kazananlarKulubu {
    padding: 0;
}
#kazananlarKulubu img {
    border-radius: 6px;
    cursor: pointer;
}

/*******Aradığınız ne varsa bölümü*******/
#araNeVarsa {
    background: #fff;
    padding: 24px 0px 20px 0px;
    border-radius: 6px;
}
#araNeVarsa #ara1 {
    margin: 0px 24px 16px 24px;
    height: 42px;
}
#araNeVarsa #ara1 h2 {
    font-size: 24px;
    color: #333333;
}
#araNeVarsa #ara2 #resim {
    width: 390px;
    height: 260px;
}
#araNeVarsa #ara2 #aciklama {
    margin-top: 12px;
    font-size: 16px;
    color: #333333;
}
#araNeVarsa #ara2 #etiket {
    margin: 3px 0px 0px;
    font-size: 12px;
    color: #767676;
}
/*******Haftanın çok satanları bölümü*******/
#cokSatanlar {
    background: #fff;
    padding: 0px;
}
#cokSatanlar #coksatan1 {
    height: 78px;
    padding: 25px 20px 25px 30px;
    border-bottom: 1px solid grey;
}
#cokSatanlar #coksatan1 h2 {
    font-size: 24px;
    color: #333333;
}
#cokSatanlar #coksatan1 a {
    font-size: 14px;
    color: #3365f3 !important;
    font-weight: bold;
}
#cokSatanlar #coksatan1 i {
    color: blue;
}
#cokSatanlar #coksatan2 {
    height: 555px;
    margin-top: -10px;
    padding: 10px 14px 0px 14px;
}
#cokSatanlar #coksatan2 #urunContainer {
    height: 535px;
    width: 222px;
    padding-bottom: 20px !important;
}
#cokSatanlar #coksatan2 #urunisim {
    width: 222px;
    height: 44px;
    padding: 15px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

#cokSatanlar #coksatan2 #urunisim a {
    color: #3665f3 !important;
    font-size: 14px;
    
}

#cokSatanlar #coksatan2 #altcont {
    border: 1px solid rgb(233, 229, 229);
    width: 222px ;
    height: 453px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#cokSatanlar #coksatan2 #coksatanresim {
    width: 204px;
    height: 204px;
}

#cokSatanlar #coksatan2 #satanaciklama {
    padding: 16px 12px 8px;
    font-size: 14px;
    color: #333333;
}
#cokSatanlar #coksatan2 #satanfiyat {
    background: #f4f4f4;
    margin: 0px 0px 12px;
    padding: 12px;
    height: 53px;
    border-radius: 4px;
    font-size: 24px;
}
#cokSatanlar #coksatan2 #satanpuan {
    height: 56px;
}
#cokSatanlar #coksatan2 #satanpuan i {
    font-size: 12px; 
    color: green;
}
#cokSatanlar #coksatan2 #satanpuan span {
    font-size: 11px;
    color: #767676;
    opacity: 0.9;
    padding-left: 5px;
}
#cokSatanlar #coksatan2 #satanBtn {
    display: none;
}
#cokSatanlar #coksatan2 #altcont:hover {
    border: none;
    box-shadow: 3px;
    font-weight: normal;  
}
#cokSatanlar #coksatan2 #altcont:hover #satanBtn {
    display: block ;
}



